[submodule "third_party/autofish"]
	path = third_party/autofish
	url = https://github.com/troyhayes/autofish.git
[submodule "third_party/meteor-client"]
	path = third_party/meteor-client
	url = https://github.com/MeteorDevelopment/meteor-client.git
[submodule "third_party/no_render"]
	path = third_party/no_render
	url = https://github.com/Friendly-Banana/no_render.git
[submodule "third_party/baritone"]
	path = third_party/baritone
	url = https://github.com/cabaletta/baritone.git
[submodule "third_party/mousse"]
	path = third_party/mousse
	url = https://github.com/Snoworange420/Mousse.git
[submodule "third_party/ScreenshotToClipboard"]
	path = third_party/ScreenshotToClipboard
	url = https://github.com/comp500/ScreenshotToClipboard.git
	branch = 1.12
